<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020217176965-6jlb0qlk2rg5aeigdk24dncdjnkscovn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020217176965-6jlb0qlk2rg5aeigdk24dncdjnkscovn</string>
	<key>API_KEY</key>
	<string>AIzaSyDiBfo0aWIHscw1qUGNNam0UTMvMkzKh1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1020217176965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wanagamaApp</string>
	<key>PROJECT_ID</key>
	<string>wanagamabookingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>wanagamabookingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020217176965:ios:eb99e13c69195ee7780aec</string>
</dict>
</plist>